// Hide banners without content
div.tag-banner-container:has(h1:first-child + p:last-child:empty) {
  display: none;
}

// Hide tag name in banner
div.tag-title-contents > h1:first-child {
  display: none;
}

// Banner basic style
div.tag-title-header {
  & > div.tag-title-contents {
    padding: 0.7em 0;
  }

  p {
    font-size: large;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
