$tags: "the-mev-letter";
$classes: null;

@each $tag in $tags {
  $classes: append($classes, ".tag-banner-#{$tag}", comma)
}

div.tag-title-header:not(#{$classes}) {
  display: none;
}

div.tag-title-contents > h1:first-child {
  display: none;
}

div.tag-title-header {
  & > div.tag-title-contents {
    padding: 0.7em 0;
  }

  p {
    font-size: large;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
